*.db filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.extxyz filter=lfs diff=lfs merge=lfs -text
*.traj filter=lfs diff=lfs merge=lfs -text
final_work/*.extxyz filter=lfs diff=lfs merge=lfs -text
final_work/*.json filter=lfs diff=lfs merge=lfs -text
final_work/*.xlsx filter=lfs diff=lfs merge=lfs -text
checkpoints/*.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/*.model filter=lfs diff=lfs merge=lfs -text
mace_models/**/*.model filter=lfs diff=lfs merge=lfs -text
md/*.json filter=lfs diff=lfs merge=lfs -text
results/*.txt filter=lfs diff=lfs merge=lfs -text
mace_train_*.db filter=lfs diff=lfs merge=lfs -text
final_work/strain_perturb_primechgnet_predictions_forces.json filter=lfs diff=lfs merge=lfs -text
final_work/mdinfo_chgnet_predictions_forces.json filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
